footer {
	background-image: url(fundo-rodape.png);
	clear: both;
	padding: 10px 0px 0px 0px;
}

#logorod{
	margin-top: 10px;
}

footer .container {
	position: relative;
	padding: 10px;
}

.social {
	position: absolute;
	top: 30px;
	right: 0;
}

.social li {
	display: inline-block;
	margin-left: 25px;
}

.social li a {
	height: 32px;
	width: 32px;
	display: block;
	text-indent: -99999px;  
}

.social a[href*="facebook"] {
	background-image: url(facebook.png);
}

.social a[href*="twitter"] {
	background-image: url(twitter.png);
}

.social a[href*="plus"] {
	background-image: url(googleplus.png);
}

.menu-opcoes {
	position: absolute;
	padding-bottom: 8px;
	bottom: 0;
	right: 230px;
	top: 65px;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 25px;
}

.menu-opcoes a {
	color: white;
	background-color: black;
	padding: 4px;
	text-decoration: none;
	border: solid 1px black;
}

.menu-opcoes a:hover{
	background-color: white;
	border: solid 1px black;
	color: black;
}

.sacola {
	background: url(sacola.png) no-repeat top right;
	width: 140px;
	font-size: 14px;
	text-align: right;
	padding-right: 35px;
	padding-top: 8px;
	position: absolute;
	top: -6px;
	right: 230px;
}

.container {
	margin: 0 auto;
	width: 940px;
}

div#centro{
	background-color: white;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 40px 0px 40px 300px;
	border-radius: 5px;
  	background-color: #f2f2f2;
  	/*padding: 20px;*/
}

#centro form{
	text-align: justify;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

